body {
  background-color: antiquewhite; 
}

#title {
  background-color: floralwhite; 
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.75em;
}

#navigation {
  text-align: center; 
}

.image {
  text-align: center; 
}

a:visited {
  color: darkgreen; 
}

a:hover {
  font-weight: bold; 
}

a:active {
  text-decoration: none; 
}

#footer {
  text-align: center; 
  background-color: floralwhite; 
}